.loginInput {
  width: 400px;
  max-width: 90%;
  padding-left: 8px;
}

.loginButton {
  margin-top: 8px !important;
}

.signupButton {
  color: white !important;
}

.heroTitle {
  margin: 16px !important;
}

.loginIcon {
  margin: auto 0 !important;
}
